fastapi
uvicorn

# database
sqlalchemy
psycopg2-binary

# auth
python-jose
bcrypt==4.0.1
passlib[bcrypt]

# pydantic
pydantic
email-validator
python-multipart
python-dotenv

# ✅ SUPABASE (STABLE)
supabase==1.0.4
PyJWT

